<mat-toolbar class="height-toolbar" fxLayout="row" fxFill>
    <div fxFlex="50" fxLayour="column">
        <div><button mat-button>Contact</button></div>
        <div><button mat-button>Privacy policy</button></div>
        <div><button mat-button>Shipping</button></div>
        <div><button mat-button>Customer service</button></div>
    </div>
    <div fxFlex="50" fxLayour="column">
        <div fxLayout="row">
            <button mat-button>Carrear</button>
            
        </div>
        <div>
            <div><button mat-button>Home</button></div>
            <div><button mat-button>Products</button></div>
            <div><button mat-button>News</button></div>
        </div>
    </div>
</mat-toolbar>