.product-card {
    display: block;
    margin: 1rem;
    width: 400px;
}

.photo-content {
    width: 400px;
}

.example-header-image {
    background-image: url('../assets/images/pdf.svg');
    background-size: cover;
    border-radius: 0;
}

.footer-card {
    display: flex;
    flex-flow: row-reverse;
}

.icon-button {
    width: 7rem;
}

.arrange {
    flex-flow: column wrap;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}