.cart-card {
    margin: 4rem;
    border-radius: 20px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.icon-cart-button {
    width: 5rem;
}

.item-counter {
    width: 30px;
}

.main-button {
    width: 18rem;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.5rem;
}

.footer-cart {
    display: flex;
    flex-flow: row-reverse;
    margin-right: 5rem;
    margin-top: 4rem !important;
    margin-bottom: 1.2rem !important;
}

.footer-cart-center {
    justify-content: center;
    margin-right: 0;
}

.title {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    color: #F51771;
    padding-top: 3rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
}

.mat-form-field{
    margin-right: 1%;
    margin-left: 1%;
    text-align: center;
}
.small-mat-list {
    margin-bottom: 5rem;
    padding-top: 4rem;
    margin-top: 2rem;
}

.cart-product-heading-small {
    display: block;
    font-weight: bold !important;
    padding-top: 3rem !important;
}

.price-label {
    width: 4rem;
    text-align: right;
    padding-left: 1rem; 
}