table {
    width: 100%;
}

.user-table {
    font-size: 15px;
    width: calc(56rem + 75px);
}

.mat-column-id {
    width: 75px;
}

.mat-column-username {
    width: 12rem;
}

.mat-column-email {
    width: 12rem;
}

.mat-column-change-username {
    width: 16rem;
}

.mat-column-change-email {
    width: 16rem;
}

.input-change-style {
    width: 5rem;
    padding-right: 2rem;
}

.center-cell {
    display: flex;
    justify-self: center;
}

.make-relative {
    position: relative;
}

.move-under-input {
    position: absolute;
    left: 6rem;
    bottom: 0.75rem;
}

.user-search-choice {
    margin: 2rem;
}

.user-search-choice .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.user-info-block {
    display: grid;
    justify-content: center;
}

.user-info-find {
    display: grid;
    grid-template-areas: "searchImage findContent";
    grid-gap: 2rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.find-content {
    grid-area: findContent;
}

.search-image {
    grid-area: searchImage;
    width: 200px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.paggination {
    margin-top: 2rem;
    margin-bottom: 3rem;
}